#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.dashboard-card {
  background-color: #fbfbfb;
  color: #242424;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  padding: 12px;
  width: 300px;
}
